In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import geopandas as gp
from datetime import datetime
# Set the column width
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [2]:
# Read the data into a Pandas DataFrame
world_happiness_report_df = pd.read_csv('Resources/Quality_of_Life.csv')
world_happiness_report_df.head()

,country,Purchasing Power Value,Purchasing Power Category,Safety Value,Safety Category,Health Care Value,Health Care Category,Climate Value,Climate Category,Cost of Living Value,Cost of Living Category,Property Price to Income Value,Property Price to Income Category,Traffic Commute Time Value,Traffic Commute Time Category,Pollution Value,Pollution Category,Quality of Life Value,Quality of Life Category
0,Afghanistan,32.15,'Very Low',25.33,'Low',24.24,'Low',0.00,NaN,21.08,'Very Low',7.8,'Low',56.17,'Very High',84.44,'Very High',0.0,NaN
1,Aland Islands,125.01,'Very High',71.81,'High',79.72,'High',0.00,NaN,53.44,'Low',5.33,'Low',19.05,'Very Low',18.05,'Very Low',0.0,NaN
2,Albania,42.82,'Low',55.52,'Moderate',48.21,'Moderate',86.43,'Very High',40.85,'Low',14.88,'High',36.74,'Moderate',77.25,'High',': 104.16','Low'
3,Alderney,0.00,NaN,83.79,'Very High',100.00,'Very High',0.00,NaN,0.00,NaN,0.0,NaN,5.00,'Very Low',1.72,'Very Low',0.0,NaN
4,Algeria,27.60,'Very Low',47.54,'Moderate',54.43,'Moderate',94.82,'Very High',25.31,'Very Low',21.7,'Very High',45.09,'High',63.87,'High',': 98.83','Very Low'

In [3]:
quality_of_life_df = pd.read_csv('Resources/world-happiness-report-2021.csv')
quality_of_life_df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [7]:
#Merging the data on the country name
merged_df = pd.merge(world_happiness_report_df, quality_of_life_df, left_on='country', right_on='Country name', how='inner')

In [ ]:
#Health care to life epectancy ratio
merged_df['Health Care to Life Expectancy Ratio'] = merged_df['Health Care Value'] / merged_df['Healthy life expectancy']
#Print
merged_df[['country', 'Health Care to Life Expectancy Ratio']].head(30)

In [ ]:
copy_quality_of_life_df = quality_of_life_df.copy()
copy_quality_of_life_df .head()

In [ ]:
first_merged_df = pd.merge(campaign_df,category_df, on='category')
campaign_merged_df = pd.merge(first_merged_df,subcategory_df,on="subcategory")
campaign_merged_df.tail(10)

In [ ]:
# Get a brief summary of the crowdfunding_info DataFrame.
quality_of_life_df.info()

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
* The "cf_id" column
* The "contact_id" column
* The "company_name" column
* The "blurb" column, renamed to "description"
* The "goal" column, converted to the `float` data type
* The "pledged" column, converted to the `float` data type
* The "outcome" column
* The "backers_count" column
* The "country" column
* The "currency" column
* The "launched_at" column, renamed to "launch_date" and with the UTC times converted to the `datetime` format
* The "deadline" column, renamed to "end_date" and with the UTC times converted to the `datetime` format
* The "category_id" column, with unique identification numbers matching those in the "category_id" column of the category DataFrame
* The "subcategory_id" column, with the unique identification numbers matching those in the "subcategory_id" column of the subcategory DataFrame
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [ ]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df.
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

In [ ]:
# Rename the blurb, launched_at, and deadline columns.
campaign_df.rename(columns={'blurb':'description','launched_at':'launch_date','deadline':'end_date'}, inplace=True)
campaign_df.head()

In [ ]:
# Convert the goal and pledged columns to a `float` data type.
campaign_df["goal"] =campaign_df["goal"].astype('float')
campaign_df["pledged"] =campaign_df["pledged"].astype('float')
campaign_df.head()

In [ ]:
# Check the datatypes
campaign_df.info()

In [ ]:
# Format the launch_date and end_date columns to datetime format
campaign_df["launch_date"] = pd.to_datetime(campaign_df["launch_date"], unit='s')
campaign_df["end_date"] = pd.to_datetime(campaign_df["end_date"], unit='s')
campaign_df.head()

In [ ]:
# Merge the campaign_df with the category_df on the "category" column and
# the subcategory_df on the "subcategory" column.
first_merged_df = pd.merge(campaign_df,category_df, on='category')
campaign_merged_df = pd.merge(first_merged_df,subcategory_df,on="subcategory")
campaign_merged_df.tail(10)

In [ ]:
# Drop unwanted columns, including 'staff_pick' and 'spotlight'
campaign_cleaned = campaign_merged_df.drop(['staff_pick','spotlight','category & sub-category','category', 'subcategory'], axis=1)
campaign_cleaned.head(5)

In [21]:
# Export the DataFrame as a CSV file.
campaign_cleaned.to_csv("Resources/campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [ ]:
# Read the data into a Pandas DataFrame. Use the `header=3` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=3)
contact_info_df.head()

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [ ]:
import json
dict_values = []

# Iterate through the contact_info_df and convert each row to a dictionary.
for i, row in contact_info_df.iterrows():
    data = row['contact_info']  

    # Append the converted row to a list.
    dict_values.append(json.loads(data))

# Print out the list of dictionaries
print(dict_values)

In [ ]:
# Create a contacts_df DataFrame from the list of dictionaries
contacts_df = pd.DataFrame(dict_values)
contacts_df.head(5)

In [ ]:
# Check the datatypes.
contacts_df.info()

In [ ]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column.
contacts_df["first_name"] = [x["name"].split(" ")[0] for i,x in contacts_df.iterrows()]
contacts_df["last_name"] = [x["name"].split(" ")[1] for i,x in contacts_df.iterrows()]

# Drop the contact_name column
contacts_df = contacts_df.drop('name',axis=1)
contacts_df.head(10)

In [ ]:
# Reorder the columns
contacts_df_clean = contacts_df[['contact_id','first_name','last_name','email']]

contacts_df_clean.head(10) # the starter code had print function but the print function gives as same result in different format

In [ ]:
# Check the datatypes one more time before exporting as CSV file.
contacts_df_clean.info()

In [29]:
# Export the DataFrame as a CSV file.
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

### Option 2: Use regex to create the contacts DataFrame.

In [ ]:
contact_info_df_copy = contact_info_df.copy()
contact_info_df_copy.head()

In [ ]:
# Extract the four-digit contact ID number.
import re
contact_info_df_copy['contact_id'] = [re.search(r'\s\d{4}',x['contact_info']).group() for i,x in contact_info_df_copy.iterrows()]
contact_info_df_copy.head(5)

In [ ]:
# Check the datatypes.
contact_info_df_copy.info()

In [ ]:
# Convert the "contact_id" column to an int64 data type using `pd.to_numeric`.
contact_info_df_copy['contact_id'] = pd.to_numeric(contact_info_df_copy['contact_id'])
contact_info_df_copy.info()

In [ ]:
# Extract the name of the contact and add it to a new column.
p = "([A-Za-z]+) ([A-Za-z]+)"
contact_info_df_copy['name'] = [re.search(p,x['contact_info']).group() for i,x in contact_info_df_copy.iterrows()]
contact_info_df_copy.head(10)

In [ ]:
# Extract the email from the contacts and add the values to a new column.
contact_info_df_copy['email'] = contact_info_df_copy['contact_info'].str.extract(r'"(\S+@\S+)"}')
contact_info_df_copy.head(10)

In [ ]:
# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.
cleaned_contact_info_df = contact_info_df_copy.drop("contact_info", axis=1)
cleaned_contact_info_df.head(10)

In [ ]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column.
cleaned_contact_info_df['first_name'] = cleaned_contact_info_df['name'].str.extract(r'^(\w+)')
cleaned_contact_info_df['last_name'] = cleaned_contact_info_df['name'].str.extract(r'\s(\w+)')

# Drop the contact_name column
final_cleaned_df = cleaned_contact_info_df.drop('name',axis=1)
final_cleaned_df.head(10)

In [ ]:
# Reorder the columns
contacts_df_clean = final_cleaned_df[['contact_id','first_name','last_name','email']]
contacts_df_clean.head(10)

In [ ]:
# Check the datatypes one more time before exporting as CSV file.
contacts_df_clean.info()

In [40]:
# Export the DataFrame as a CSV file.
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)